.section__title {
  text-transform: uppercase;
  text-align: center;
  color: $text-color-dark;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 84px;

  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 60px;
    height: 3px;
    bottom: 70px;
    background-color: #f38181;
  }
}

.section__title-span {
  display: block;
  font-family: $title-font;
  text-transform: none;
  font-size: 24px;
  color: $text-color-dark;
  margin: 0;
}

