$main-font-stack: "Montserrat", sans-serif;
$text-font: "Roboto", sans-serif;
$title-font: "Kaushan Script", cursive;


$color-white: #ffffff;
$text-color-dark: #333333;

$main-text-size: 14px;
$main-text-height: 17px;