html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}

.page-header {
    padding-top: 72px;
    padding-bottom: 98px;
}

.list-item {
    text-transform: uppercase;
}

.list {
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0px;
    list-style: none;
    font-style: normal;
}

.list li {
    display: inline-block;
    margin-right: 100px;
}

.list .list-item {
    font-size: 14px;
}

.list li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: #626262;
}

.list a:hover,
.list a:focus {
    color: #03a9f4;
}

img {
    width: 420px;
    height: 280px;
    padding: 0;
    margin-bottom: 30px;
}

.article {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
    font-style: normal;
    text-align: left;
}

.article:nth-child(2n) {
    margin-right: 0;
}

.article-2 {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 52px;
    font-style: normal;
    text-align: left;
}

.article-2:nth-child(2n) {
    margin-right: 0;
}


.signature {
    font-size: 14px;
    margin: 0;
    margin-bottom: 30px;
    font-style: normal;
    color: #c7c1b6;
    text-align: justify;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 34px;
    color: #626262;
    font-weight: 100;
}

.text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.loader {
    text-align: center;
}
.load {
    display: block;
    text-align: center;
    margin: 0px auto;
    padding: 20px 34px;
    background-color: #dddcd7;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    cursor: pointer;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}

button:hover {
    background-color: #03a9f4;
}

button {
    font-family: 'Times New Roman', Times, serif;
}